global
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 10s
    timeout client 2h
    timeout server 2h

frontend public_tls
    bind :443
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend livekit_turn_tls if { req.ssl_sni -i turn.lazareva-secret.ru }
    default_backend gateway_tls

backend gateway_tls
    server gateway gateway:443 check

backend livekit_turn_tls
    server livekit livekit:5349 check
